* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.hero-section {
    background: url(./bg.jpg);
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    padding-top: 100px;
    /* margin-bottom: 150px; */
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.hero-contant {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 140px ;
    /* flex-wrap: wrap; */

}

h1 {
    color: black;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
}

.imoportant {
    color: #7A37FF;
}

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 30px;
}

.hero-btn {
    display: flex;
    gap: 20px;
}

.explore {
    background-color: #7A37FF;
    padding: 10px 20px;
    border: 3px solid transparent;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 20px 31px #3f3e3e;
    box-sizing: border-box;
}

.explore:hover {
    background-color: black;
    color: white;
}

.bg-color {
    background-color: #f2f1f5;
    border: 3px solid #7A37FF;
}

.bg-color:hover {
    border: 3px solid black;
}
.hero-2 .hero-img img {
    vertical-align: middle;
}

/* skill section   */

.skills {
    background-color: #e0dcdc;
    padding-top: 150px;
    padding-bottom: 40px;
    /* padding-bottom: 150px; */
}

.heading {
    text-align: center;
    margin-bottom: 60px;

}

.pro-h4 {
    font-size: 22px;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #6A14DA;
}


.card-box {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
    text-align: center;
    gap: 50px;
    /* flex-wrap: wrap; */
}

.card {
    /* border: 1px solid black; */
    padding: 30px;
    border-radius: 5%;
    background-color: white;
    box-shadow: 0 8px 4px rgb(100, 99, 99);
    margin-bottom: 50px;
}

.card * {
    margin-bottom: 30px;
    text-transform: uppercase;
}



.card img {
    width: 90px;
    height: 90px;
    object-fit: contain;

}

.card p {
    font-size: 16px;
    word-spacing: 7px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-weight: 600;
}

.card a {
    display: block;

}

.card a:hover {
    color: red;
}

/* project section  */

.project {
    padding-top: 120px;
}

.doctorian {
    text-align: center;
    margin-bottom: 90px;
}

.pro-card {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    border: 1px solid #6A14DA;
    border-radius: 20px;
    padding: 40px;
    gap: 40px;
    margin-bottom: 60px;
    
}

.img img {
    width: 300;
    height: 300px;
    border-radius: 20px;
    object-fit: contain;
}


.footer{
    background-color: #e0dcdc;
    padding: 30px;
    text-align: right;
    font-size: 16px;
}